.gridster ul {
    width: 320px;
    position:relative;
}
#mainGrid li {
    background: silver;
    list-style: none;
}
.gridster .article-image {
    width: 100%;
}
.gridster .article-add {
    display: none;
}
